:root {
  --text: white;
  --border: white;
  --text-shadow: 6px 3px 5px gray;
  --box-shadow: 7px 7px 5px 5px #FFFFFF;
  --m-card: 0 15rem 0 10rem;
  --bord-card: 1px solid var(--border);
  --bar-skill: white;
  --bar-progress: gray;
  --bar-progress-dark: #868786;

}
